* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
h2 {                                  /* Titel */
    font-size: 7rem;
    font-weight: bold; 
    text-align: center;          
    padding: 3rem;                    /* Mellanrum mellan titeln och countdown */
    color: rgb(240, 170, 40);
}
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allt{
    flex-direction: column;
}
.pics{
    flex-direction: row;
    padding: 2rem;
}
.countdown {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.day,
.hour,
.minute,
.second{
    font-size: 4rem;
    color: wheat;
}

.gingerbread {
    height: 25rem;
}

.porridge {
    height: 25rem;
}