* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 5rem;
    color: rgb(240, 170, 40);
}
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,
.hour,
.minute,
.second{
    font-size: 3rem;
    color: wheat;
}

.waiting {
    height: 50vh;
}